/* colours */
:root{
	--bg0: #222;
	--bg1: #333;
	--fg0: #aaa;
	--fg1: #ccc;
	--hl1: #c8c;
	--hl2: #a6a;
	--ERR: #f44;
	--WIN: #4d4;
	--GOLD: #fa0;
}

body{
	background-color: var(--bg0);
	color: var(--fg0);
	font-family: Cambria, Arial, sans-serif;
	/* text-align: center; */
}

header{
	background-color: var(--bg1);
	border-bottom: 1px solid var(--fg1);
	color: var(--fg1);
	padding: 10px;
	text-align: center;
	font-size: 32px;
}

h1,h2,h3,h4,h5,h6{
	color: var(--fg1);
}
h1{
	text-align: center;
	font-size: 32px;
	background-color: var(--bg0);
	border-radius: 12px;
	margin: 20px 10px 10px;
}
h2{
	font-size: 20px;
	margin: 5px 0px;
}

a{
	color: var(--hl1);
}
a:visited{
	color: var(--hl2);
}

main{
	display: flex;
	flex-wrap: wrap;
}
main section p{
	text-align: center;
	margin: 10px 10px;
}
.gap {
	flex: 1;
}
#form{
	flex: 5;
	border: 1px solid var(--fg1);
	border-top: 0px;
	background-color: var(--bg1);
	padding: 10px;
}
.box{
	display: flex;
	flex-wrap: wrap;
}
.pane{
	flex: 1;
	border: 1px solid var(--fg1);
	border-radius: 12px;
	background-color: var(--bg1);
	padding: 10px;
	margin: 10px;
	min-width: 350px;
}
.pane img{
	width: 100%;
	min-width: 200px;
	border-radius: 12px;
	display: none;
	position: relative;
}
.pane img:first-child{
	display: block;
}

.center{
    text-align: center;
	padding: 10px;
}

form label{
	display: block;
	margin: 20px 0px -10px;
}

#errors {
    color: var(--ERR);
}
#score{
	border-radius: 16px;
	font-size: 24px;
	text-align: center;
}

button{
	margin: 5px;
}

#registerBtn, .center p{
    padding: 8px 12px;
    background-color: var(--fg1);
    color: var(--bg1);
    border: none;
    border-radius: 4px;
    text-decoration: none;
	display: none;
}
#registerBtn:hover{
	background-color: var(--fg0);
}

@media screen and (max-width: 600px) {
  .gap {
    flex: 0; /* Remove gap when window is smaller */
  }
  #form{
	border-left: 0px;
	border-right: 0px;
  }
  main{
	margin-top: 20px;
	border-top: 1px solid var(--fg1);
  }
  .pane{
	min-width: 50%;
  }
}